# dependencies
/node_modules
/ums-frontend/node_modules
/ums-backend/node_modules

# Environment variables
/ums-backend/.env

/ums-frontend/build 
/ums-frontend/coverage

/ums-backend/coverage
/ums-backend/dist
